{% extends 'base.html.twig' %}

{% block title %}{% trans %}User index{% endtrans %}{% endblock %}

{% block stylesheets %} 
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
    {# <link rel="stylesheet" href="public/assets/css/style.css"> #}
{% endblock %}

{% block body %}

   <section class="home">
    <div class="text">
  
    <h1>{% trans %}Employee List{% endtrans %}</h1>
    <a href="{{ path('app_employe_new') }}" class="create">{% trans %}+ Add an employee{% endtrans %}</a>
{# {{% app.user.avatar %} #}

    <table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
        <thead class="en-tête">
            <tr>
                {# <th data-sortable="true" data-field="id">Id</th> #}
                {# <th data-sortable="true" data-field="email">Email</th> #}
                <th class="bold-weight" data-sortable="true" data-field="lastname" class="light-weight">{% trans %}Last Name{% endtrans %}</th>
                <th class="bold-weight" data-sortable="true" data-field="firstname" class="light-weight">{% trans %}First Name{% endtrans %}</th>
                <th class="bold-weight" data-sortable="true" data-field="roles" class="light-weight">{% trans %}Roles{% endtrans %}</th>
                <th class="bold-weight">{% trans %}Avatar{% endtrans %}</th>
                {# <th data-sortable="true" data-field="address">Address</th> #}
                <th class="bold-weight" data-sortable="true" data-field="operation_finalisee" class="light-weight">{% trans %}Completed Operations{% endtrans %}</th>
                <th class="bold-weight">{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td  class="light-weight">{{ user.lastname }}</td>
                <td class="light-weight">{{ user.firstname }}</td>
                 <td>
                {% for role in user.roles %}
							{% if role == "ROLE_ADMIN" %}
								{% set name = "Administrator" %}
								{% set color = "danger" %}
                            {% elseif  role == "ROLE_SENIOR"%}
                                {% set name = "Senior" %}
                                {% set color = "warning" %}
                            {% elseif  role == "ROLE_APPRENTI"%}
                                {% set name = "Apprentice" %}
                                {% set color = "primary" %}    
                                {% elseif  role == "ROLE_CLIENT"%}
                                {% set name = "Client" %}
                                {% set color = "secondary" %}       
							{% else %}
								{% set name = "Member" %}
								{% set color = "success" %}
							{% endif %}
							<span class="badge bg-{{ color }}">{{ name }}</span>
						{% endfor %}
                </td>
                {% if user.avatar == null %}
                    <td></td>
                {% else %}
                    <td><img src="{{ user.avatar ? asset(user.avatar) : 'placeholder.jpg' }}" style="height: 70px; width:70px; border-radius: 6px; margin-left: 6px; object-fit: cover;"></td>
                {% endif %} 
                <td class="bold-weight">{{ user.operationsFinalisee }}</td>
                
                <td>
                    <a href="{{ path('app_employe_show', {'id': user.id}) }}" class ="actionsButtons1"><i class='bx bx-show' ></i></a>
                    {% if app.user %}
			            {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_employe_edit', {'id': user.id}) }}" class ="actionsButtons2"><i class='bx bx-edit'></i></a>
                    {# <a href="{{ path('app_user_delete', {'id': user.id})}}" class ="actionsButtons3">Supprimer</a> #}
                    <a class="deleteBtn actionsButtons3" id="delete{{ user.id }}" data-csrf-token="{{ csrf_token('delete' ~ user.id) }}">
							<i class='bx bx-trash'></i> 
					</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      </div>
   </section> 
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table-fr-FR.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script>
        $(document).ready(function() {

    $('.search input').attr('placeholder', '{% trans %}Search{% endtrans %}');
    $('.search input').addClass('form-control pr-5');
    $('.search').addClass('position-relative');
    $('.search input').after('<span id="searchIcon" class="input-group-text bi bi-search position-absolute" style="right: 10px; top: 28%; transform: translateY(-50%); cursor: pointer; border: none; padding: 0;"></span>');
    $('.search input').keydown(function(event) {
        if (event.keyCode === 13) { 
            $('#searchIcon').hide();
        }
    });
});

    </script>

    <script>
$(document).ready(function() {
    $('.table').off('click', '.deleteBtn').on('click', '.deleteBtn', function(e) {
        e.preventDefault();
        var userId = this.id.replace('delete', '');
        var csrfToken = $(this).data('csrf-token');
        
        if (confirm('{% trans %}Are you sure you want to delete this user?{% endtrans %}')) {
            $.ajax({
                url: '/admin/customer/' + userId,
                type: 'POST',
                data: {
                    '_token': csrfToken,
                },
                success: function(response) {
                    if (response.success) {
                        alert("{% trans %}User deleted successfully{% endtrans %}");
                        $('#delete' + userId).closest('tr').remove();
                        
                    location.reload();
                       
                    } else {
                        alert("{% trans %}Deletion failed{% endtrans %}");
                    }
                },
                error: function() {
                    alert("{% trans %}An error occurred{% endtrans %}");
                }
            });
        }
    });
});
	</script>
<script>
document.getElementById('avatar-upload').addEventListener('change', function () {
document.getElementById('avatar-submit').click();
});
</script>
{% endblock %}