{% block body %}
<section class="home1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Formulaire</h2>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}<br>
                            <a style="float: left; color: white;" class= "retour m-3" href="{{ path('app_type_operation_index') }}">back to list</a>
                            <button style="float: right;" class="btn modifier m-3">{{ button_label|default('Save') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
