{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}


<section class="home">
    <div class="text">
        <h1 style="padding-top: 25px">Nos Services</h1>
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_type_operation_new') }}" class="create1"> + Ajouter un Services</a>
            {% endif %}
        {% endif %}
        <div class="row">
            {% set colors = ['#F2C57C', '#6AA370', '#a289be', '#66B2ff', '#F2C57C', '#6AA370'] %}
           {% for index, type_operation in type_operations %}
            {% set color = colors[index % colors|length] %}
            <div class="col-md-6" style="padding: 40px 0; width: 80%; margin-left: auto; margin-right: auto;">
                <div class="card card-service" style="background-color: {{ color }};">
                    <img src="{{ asset('uploads/services/' ~ type_operation.image) }}" alt="Service image" style="width: 450px; height: 560px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title titre">{{ type_operation.libelle }}</h5>
                        <p class="card-text tarif">Tarif: {{ type_operation.tarif }} €</p>
                        <h5 class="card-title desc">Description:</h5>
                        <p class="card-text description">{{ type_operation.descriptif }}</p>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <a class="edit-type" href="{{ path('app_type_operation_edit', {'id': type_operation.id}) }}">
                                <i class='bx bx-edit' style='font-size: 40px;'></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
</section>

{% endblock %}