<h1>Contact Client </h1>

<p>Nom et prénom du client: {{nom}} {{prenom}}</p>
<p>adresse:  {{adresse}}, {{codePostale}} {{ville}}</p>
<p>Tel:  {{telephone}}</p>
Mail:  {{emailClient}} 
<p> Choix de contact:  {{preferenceContact}} </p> 

<p>Sujet: 
 {{message}} </p>
