{% block body %}
	<section class="home1">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 mt-5">
					<div class="card">
						<div class="card-header">
							<h2 class="text-center">Modification de devis</h2>
						</div>
						<div class="card-body">
							{{ form_start(form) }}
							<div class="row">
								<div class="col-md-6">
									{{ form_row(form.tarif_custom) }}
								</div>

								{{ form_row(form.comment) }}
								<div style="margin-top:15px;">
								<button style="float:right;" class="btn btn-primary">Modifier le devis</button>
								<a style="float:left;" href="{{ path('app_devis_index') }}" class="retour">← Retour à la liste</a>
								</div>
								{{ form_end(form) }}

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			$(document).ready(function () {
$('#image-object-field').hide();

$('.type-operation-select').change(function () {
console.log('Nouvelle valeur sélectionnée :', $(this).val());
var selectedOptionLabel = $(this).find('option:selected').text().toLowerCase();
var keyword = 'custom';
if (selectedOptionLabel.indexOf(keyword.toLowerCase()) !== -1) {
console.log('Option contenant "Custom" sélectionnée');
$('#image-object-field').show();
} else {
console.log('Autre option sélectionnée');
$('#image-object-field').hide();
}
});
});
		</script>
	{% endblock %}
