{% extends 'base.html.twig' %}

{% block title %}Devis index
{% endblock %}
{% block stylesheets %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<link
	rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
{# <link rel="stylesheet" href="public/assets/css/style.css"> #}
{% endblock %}

{% block body %}
	<section class='home'>
		<div class='text'>
			<h1>Devis
			</h1>
			<a href="{{ path('app_devis_new') }}" class="create">
				+ Ajouter un devis</a>

			<table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
				<thead class="en-tête">
					<tr>
						<th class="light-weight">Voir détail</th>
						<th data-sortable="true" data-field="Id" class="light-weight">ID</th>
						<th data-sortable="true" data-field="lastname" class="light-weight">lastname</th>
						{# <th data-sortable="true" data-field="Url_devis" class="light-weight">Url_devis</th> #}
						<th data-sortable="true" data-field="Creayed_at" class="light-weight">Created_at</th>
						<th data-sortable="true" data-field="Comment" class="light-weight">Comment</th>
						{# <th data-sortable="true" data-field="Image_object" class="light-weight">Image_object</th> #}
						<th data-sortable="true" data-field="status" class="light-weight">Status</th>
						<th class="light-weight">Modifier</th>
						<th class="light-weight">Valider/supprimer</th>
						<th class="light-weight">Télécharger</th>
						<th class="light-weight">Envoyer</th>
					</tr>
				</thead>
				<tbody>
					{% for devi in devis %}
						<tr>
							<td>
								<a href="{{ path('app_devis_show', {'id': devi.id}) }}" class="actionsButtons">
									<img src="{{ asset('images/oeuil.png') }}" alt="Voir détail">
								</a>
							</td>
							<td class="bold-weight">{{ devi.id }}</td>
							<td class="bold-weight">{{ devi.lastname }}</td>
							<td class="bold-weight">{{ devi.createdAt ? devi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td class="bold-weight">{{ devi.comment }}</td>
							<td class="bold-weight {{ devi.status ? 'validé' : '' }}">
    							{{ devi.status ? 'devis validé ' : 'En attente de validation' }}
								{% if devi.status %}
									<i style = "color: green;"  class='bx bx-check'></i>
								{% endif %}
							</td>
							<td>
								{% if devi.typeOperation and devi.typeOperation.getLibelle() == 'Service de Nettoyage Custom' %}
									{% if not devi.status %}
										<a href="{{ path('app_devis_edit', {'id': devi.id}) }}" class="actionsButton">
										<img style="height: 25px;" src="{{ asset('images/Edit.png') }}" alt="Modifier le devis">
										</a>
									{% endif %}
								{% endif %}
								{# <a href="{{ path('devis_pdf', {'id': devi.id})}}" class="actionsButtons3">Voir le pdf
								</a> #}
							</td>
							<td>
								{% if not devi.status %}
									<button class="btn toggleStatusBtn actionsButton" data-devi-id="{{ devi.id }}">
										<i style="font-size: 25px" class='bx bx-check-double'></i>
									</button>
								{% endif %}
								{% if devi.id not in devisWithTrueStatus %}
									<button class="btn deleteBtn actionsButton" id="delete{{ devi.id }}" data-csrf-token="{{ csrf_token('delete' ~ devi.id) }}">
										<i style="font-size: 25px" class='bx bx-trash'></i>
									</button>
								{% endif %}
							</td>
							<td>
								<a href="{{ path('devis_pdf', {'id': devi.id}) }}" class="actionsButton">
									<img src="{{ asset('images/telecharger.png') }}" alt="Télécharger le PDF">
								</a>
							</td>
							<td>
								{% if devi.status %}
                                    <a href="#" class="sendDevisBtn actionsButton" data-devi-id="{{ devi.id }}">
                                        <img src="{{ asset('images/sendMail.png') }}" alt="Envoyer le pdf">
                                    </a>
									{% else %}
									
                                {% endif %}
								{# <a href="#" class="sendDevisBtn actionsButton" data-devi-id="{{ devi.id }}">
									<img src="{{ asset('images/sendMail.png') }}" alt="Envoyer le pdf">
								</a> #}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table-fr-FR.min.js"></script>
	<script>
		$(document).ready(function () {
$('.search input').attr('placeholder', 'Rechercher');
$('.search input').addClass('form-control pr-5');
$('.search').addClass('position-relative');
$('.search input').after('<span id="searchIcon" class="input-group-text bi bi-search position-absolute" style="right: 10px; top: 28%; transform: translateY(-50%); cursor: pointer; border: none; padding: 0;"></span>');
$('.search input').keydown(function (event) {
if (event.keyCode === 13) {
$('#searchIcon').hide();
}
});
});

$('.table').on('click', '.toggleStatusBtn', function (e) {
e.preventDefault();
var deviId = $(this).data('devi-id');
var csrfToken = '{{ csrf_token('toggle_status') }}';
var $button = $(this);

if (confirm('Êtes-vous sûr de vouloir valider le devis ?')) {
$.ajax({
url: '/admin/devis/' + deviId + '/toggle-status',
type: 'POST',
data: {
'_token': csrfToken,
'status': true
},
success: function (response) {
alert("La validation du devis à été pris en compte.");
$button.closest('tr').find('.bold-weight').eq(6).text('Yes');
$button.closest('tr').find('.deleteBtn').hide();
location.reload();
},
error: function (xhr) {
if (xhr.status === 403) {
alert(xhr.responseText);
} else {
alert("Une erreur s'est produite");
}
}
});
}
});


$('.table').on('click', '.deleteBtn', function (e) {
e.preventDefault();
var deviId = this.id.replace('delete', '');
var csrfToken = $(this).data('csrf-token');

if (confirm('Êtes-vous sûr de vouloir supprimer ce devis ?')) {
$.ajax({
url: '/admin/devis/' + deviId,
type: 'POST',
data: {
'_token': csrfToken
},
success: function (response) {
if (response.success) {
alert("Utilisateur supprimé avec succès");
$('#delete' + deviId).closest('tr').remove();
} else {
alert("La suppression a échoué");
}
},
error: function () {
alert("Une erreur s'est produite");
}
});
}
});

	$('.table').on('click', '.sendDevisBtn', function (e) {
		e.preventDefault();
		var deviId = $(this).data('devi-id');
		var $button = $(this);

		if (confirm('Êtes-vous sûr de vouloir envoyer le devis ?')) {
				$.ajax({
				url: '/admin/devis/SendPdf/' + deviId,
				type: 'POST',
				data: {
				'id': deviId
				},
					success: function (response) {
						alert("Devis envoyé avec succès");

						$button.closest('tr').find('.bold-weight').eq(6).text('Yes');
						$button.closest('tr').find('.deleteBtn').hide();
						location.reload(); // Rafraîchissement de la page
					},
					error: function (xhr) {
						if (xhr.status === 403) {
						alert(xhr.responseText); 
						} else {
						alert("Une erreur s'est produite");
						}
					}
			});
		}
	});
	</script>
{% endblock %}
