{% extends 'base.html.twig' %}

{% block title %}Operation index
{% endblock %}
{% block stylesheets %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
{# <link rel="stylesheet" href="public/assets/css/style.css"> #}
{% endblock %}

{% block body %}
	<section class="home">
		<div class="text">
			<div style="position: relative; display: inline-block; margin-top: 30px;">
				{% if app.user.avatar == null %}
					<img src="{{ asset('images/avatar-placeholder.png') }}" alt="" class="avatar" width="100" height="100" style=" border-radius: 50%; object-fit: cover;">
				{% else %}
					<img src="{{ app.user.avatar ? asset(app.user.avatar) : 'placeholder.jpg' }}" alt="" class="" width="100" height="100" style=" border-radius: 50%; object-fit: cover;">
				{% endif %}	
				<a href="/admin/profil" style="position: absolute; bottom: 0; right: -20px;">
					<i style="font-size: 30px; color: black" class='bx bx-cog'></i>
				</a>
			</div>
			<h1 style="margin-top: 50px; color: #f2c57c;">{% trans %}My Operations{% endtrans %}</h1>

			<table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
				<thead class="en-tête">
					<tr>
						{# <th class="bold-weight">{% trans %}View detail{% endtrans %}</th> #}
						<th class="bold-weight" data-sortable="true" data-field="Id" class="light-weight">{% trans %}ID{% endtrans %}</th>
						<th class="bold-weight" data-sortable="true" data-field="firstname" class="light-weight">{% trans %}Customer{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="libelle" class="light-weight">{% trans %}Service{% endtrans %}</th>
						{# <th data-sortable="true" data-field="lastname" class="light-weight">{% trans %}Invoice{% endtrans %}</th> #}
						{# <th data-sortable="true" data-field="Url_devis" class="light-weight">{% trans %}Comment{% endtrans %}</th> #}
						{# <th data-sortable="true" data-field="Creayed_at" class="light-weight">{% trans %}Note{% endtrans %}</th> #}
						{# <th data-sortable="true" data-field="Comment" class="light-weight">{% trans %}Start Date of Operation{% endtrans %}</th> #}
						<th class="bold-weight" data-sortable="true" data-field="date_fin" class="light-weight">{% trans %}End Date of Operation{% endtrans %}</th>
						{# <th data-sortable="true" data-field="status" class="light-weight">{% trans %}Operation Result{% endtrans %}</th> #}
						<th class="bold-weight" data-sortable="true" data-field="reclamation" class="light-weight">{% trans %}Complaint{% endtrans %}</th>
						<th class="bold-weight" data-sortable="true" data-field="status_paiement" class="light-weight">{% trans %}Payment Status{% endtrans %}</th>
						{# <th data-sortable="true" data-field="status_operation" class="light-weight">{% trans %}Operation Status{% endtrans %}</th> #}
						{# <th data-sortable="true" data-field="status" class="light-weight">{% trans %}Address of Intervention{% endtrans %}</th> #}
						<th class="bold-weight" data-sortable="true"  class="light-weight">{% trans %}Operation Status{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for operation in operations %}
						<tr>
							{# <td>
				    			<a href="{{ path('app_profil_show', {'id': operation.id}) }}" class="actionsButtons">
									<img src="{{ asset('images/oeuil.png') }}" alt="{% trans %}View detail{% endtrans %}">
								</a>
							</td> #}
							<td class="light-weight">{{ operation.id }}</td>
							{% for devis in operation.devis %}
								<td class="light-weight">{{ devis.user.lastname }} {{ devis.user.firstname }}</td>
							{% endfor %}
                            <td class="light-weight">
                            {% for devis in operation.devis %}
                                {{ devis.typeOperation.libelle }}
                            {% endfor %}
                            </td>
							{# <td class="bold-weight">{{ operation.facture }}</td> #}
							{# <td class="bold-weight">{{ operation.comment }}</td> #}
							{# <td class="bold-weight">{{ operation.note }}</td> #}
							{# <td class="bold-weight">{{ operation.dateDebut ? operation.dateDebut|date('Y-m-d H:i:s') : '' }}</td> #}
							<td class="bold-light">{{ operation.dateFin ? operation.dateFin|date('d-m-Y') : '' }}</td>
							{# <td class="bold-weight">{{ operation.imageResultat }}</td> #}
							<td class="bold-light">{{ operation.reclamation }}</td>
							<td class="bold-light">{{ operation.statusPaiement ? 'Paid' : 'Not Paid' }}</td>
							{# <td class="bold-weight">{{ operation.statusOperation ? 'Yes' : 'No' }}</td> #}
							<td>
								{% if operation.statusOperation %}
									<span style="color: green;" class="badge-success">{% trans %}Operation completed <i style = "color: green;"  class='bx bx-check'></i>{% endtrans %}</span>
								{% else %}
									<a href="{{ path('app_operation_termine', {'userId': app.user.id}) }}" class="btn btn-success" onclick="return confirmTerminerOperation()">{% trans %}Finish Operation{% endtrans %}</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="12">{% trans %}no records found{% endtrans %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table-fr-FR.min.js"></script>
	<script>
		$(document).ready(function () {
$('.search input').attr('placeholder', 'Rechercher');
$('.search input').addClass('form-control pr-5');
$('.search').addClass('position-relative');
$('.search input').after('<span id="searchIcon" class="input-group-text bi bi-search position-absolute" style="right: 10px; top: 28%; transform: translateY(-50%); cursor: pointer; border: none; padding: 0;"></span>');
$('.search input').keydown(function (event) {
if (event.keyCode === 13) {
$('#searchIcon').hide();
}
});
});
	</script>

	<script>
        function confirmTerminerOperation() {
            if (confirm("Êtes-vous sûr de vouloir terminer l'opération?")) {
                // L'utilisateur a confirmé, désactivez le bouton pour éviter les soumissions multiples
                $('#terminer-operation-btn').prop('disabled', true);
                return true; // Continuer avec la soumission du formulaire
            } else {
                // L'utilisateur a annulé, ne soumet pas le formulaire
                return false;
            }
        }
    </script>
{% endblock %}
