{% extends 'basebis.html.twig' %}
{% block stylesheets %} 
   <link rel="stylesheet" href="{{asset('assets/css/client.css')}}">
{% endblock %}
{% block title %}{% trans %}Create a password{% endtrans %}{% endblock %}

{% block body  %}
<div class="container">
 <div class="row">
    <h1 class= "h1CreatePassword">{% trans %}Create a password{% endtrans %}</h1>
    {% if form is defined %}
     {# {% include "_partials/_flash.html.twig" %} #}
        {{ form_start(form) }}
        {{ form_row(form.password) }}
        {{ form_errors(form.password) }} {# Afficher les erreurs de validation pour le champ email #}
        {{ form_row(form.passwordNew) }}
        {{ form_errors(form.passwordNew) }} {# Afficher les erreurs de validation pour le champ password #}
        {{ form_row(form.password2) }}
        {{ form_errors(form.password2) }} {# Afficher les erreurs de validation pour le champ password2 #}
        <button type="submit" class="submitbtn">{% trans %}Submit{% endtrans %}</button>
        {{ form_end(form) }}
    {% else %}
        <p>{% trans %}The form was not created correctly{% endtrans %}.</p>
    {% endif %}
 </div>
</div>
{% endblock %}