{% extends 'basebis.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<form
		method="post">
		{# {% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
 		{% endif %} #}

		<body>
			<div class="container">
				<div class="row justify-content-center mt-5" style="margin-bottom: 338px;">
					<div class="col-md-6">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title text-center">{% trans %}Reset password{% endtrans %}</h5>
								{% if app.user %}
									<div class="mb-3">
										Vous êtes connecté en tant que
										{{ app.user.userIdentifier }},
										<a href="{{ path('app_logout') }}">Déconnexion</a>
									</div>
								{% endif %}
								{{ form_start(requestPassForm, {'attr': {'class': 'form'}}) }}
								<div class="form-group mb-3">
									{{ form_row(requestPassForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
								</div>
							</div>
							<div class="card-footer">
								<button style="float: right" type="submit" class="btn btn-primary mt-1 mb-1">{% trans %}Send{% endtrans %}</button>
								<a style="float: right" href="{{ path('auth_oauth_login') }}" class="btn btn-secondary mx-3 mt-1 mb-1">Annuler</a>
								{{ form_end(requestPassForm) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	{% endblock %}
