{% extends 'basebis.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<form
		method="post">
		{# {% if error %}
		        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		    {% endif %} #}

		<div class="container">
			<div class="row justify-content-center mt-5" style="margin-bottom:238px;">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title text-center">{% trans %}Reset password{% endtrans %}</h5>
							{{ form_start(passForm, {'attr': {'class': 'form'}}) }}
							<div class="form-group mb-3">
								{{ form_row(passForm.password, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'}}) }}
							</div>
							<div class="form-group mb-3">
								{{ form_row(passForm.password2, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe'}}) }}
							</div>
						</div>
						<div class="card-footer">
							<button style="float: right" type="submit" class="btn btn-primary mt-1 mb-1">{% trans %}Send{% endtrans %}</button>
						</div>
						{{ form_end(passForm)}}
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
