{% extends 'basebis.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<form method="post">
    {# {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

 <body>
  <div class="container">
    <div class="row" style="margin-bottom:270px; margin-top:55px;">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
            <h1>{% trans %}Reset password{% endtrans %}</h1>
            {{ form_start(passForm)}}
            {{ form_row(passForm.passwordReset)}}
                {{ form_row(passForm.password)}}
                {{ form_row(passForm.password2)}}
                <button style="margin-top:10px; float:right;" type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
            {{ form_end(passForm)}}

        </div>
    </div>
  </div>
</body>
{% endblock %}


