{% extends 'basebis.html.twig' %}

{% block title %}New Devis{% endblock %}
{% block stylesheets %} 
    {{ parent() }} {# Inclut les feuilles de style du fichier parent #}
    <link rel="stylesheet" href="{{ asset('assets/css/devis.css') }}">
{% endblock %}

{% block body %}

{# <div class='text2'> #}
  

    {{ include('client/_form1.html.twig') }}
    <a class="backtolist" href="{{ path('app_user_profil') }}">{% trans %}Back to profil{% endtrans %}</a>

{# </div> #}

<script src="{{ asset('assets/js/autocompleteDevis.js') }}"> defer</script>
   
{% endblock %}