{% block stylesheets %} 
    <link rel="stylesheet" href="{{asset('assets/css/reclamation.css')}}">
{% endblock %}
{% block body %}
{% include "_partials/_nav.html.twig" %}
<link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

<body style="background: #372772;">
<p>{% trans %}Please tell us the subject of your complaint as well as how you wish to be contacted in order to follow up on it. To enable us to provide you with the clearest feedback possible, do not hesitate to leave as much detail as possible regarding the subject of your complaint.{% endtrans %} </p>
  <div class="container">
    <div class="">
        <div class="formulaireReclamation">
            <h1 class= "rech1">{% trans %}Complaint{% endtrans %}</h1>
            {{ form_start(form) }}
            {{ form_row(form.reclamation, {'attr': {'class': 'large-textarea'}}) }}
            <button type="submit" class="recButton">{% trans %}Send{% endtrans %}</button>
            {{ form_end(form) }}
        </div>
    </div>
  </div>
</body>
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
{% endblock %}
