{% extends 'basebis.html.twig' %}

{% block title %}Operation
{% endblock %}

{% block body %}

	<h1>Operation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Image_resultat</th>
				<td>{{ operation.imageResultat }}</td>
			</tr>
			<tr>
				<th>Status_paiement</th>
				<td>{{ operation.statusPaiement ? 'Yes' : 'No' }}</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('app_operation_reclamation', {'id': operation.id}) }}" class="btn btn-primary laisser-reclamation">Laisser une réclamation</a>

	{% if operation.note is null %}
		<a href="{{ path('note', {'id': operation.id}) }}" class="btn btn-primary laisser-reclamation">Laisser une note</a>
	{% endif %}

	<a href="{{ path('app_user_profil') }}">back to list</a>

	{# <a href="{{ path('app_operation_edit', {'id': operation.id}) }}">edit</a> #}

	{# {{ include('operation/_delete_form.html.twig') }} #}
{% endblock %}