<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Page</title>
   
    <link rel="stylesheet" href="styles.css">
</head>
<nav class="navbar navbar-expand-lg bg-white custom-navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">CleanThis</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">{% trans %}
						About us
						{% endtrans %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/contact_form">{% trans %}
						Contact us
						{% endtrans %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_services') }}">{% trans %}
						Our services
						{% endtrans %}</a>
				</li>
			</ul>

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SENIOR') %}
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('app_employe_index') }}">{% trans %}
								Management
								{% endtrans %}</a>
						</li>
					{% endif %}

					{% if is_granted('ROLE_CLIENT') %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_user_profil' ) }}">{% trans %}
							My account
							{% endtrans %}</a>
					{% endif %}
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('auth_oauth_logout' ) }} ">{% trans %}
							Logout
							{% endtrans %}</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('auth_oauth_login' ) }} ">{% trans %}
							Log in
							{% endtrans %}</a>
					</li>
				{% endif %}

			</ul>
			<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{ asset('images/' ~ app.request.locale ~ '.png') }}" alt="{{ app.request.locale }}" width="30">
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for locale in locales %}
							{% if locale != app.request.locale %}
								<li class="nav-item">
									<a class="nav-link flag-link" href="{{ path('change_locale', {'locale': locale}) }}"><img class="flag-img" src="{{ asset('images/' ~ locale ~ '.png') }}" alt="{{ locale }}" width="30"></a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			</ul>

		</div>
	</div>
</nav>