<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Devis</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
        img {
            width: 20%;
            height: 15%;
            margin-left:5%
        }

        .infosEntreprise {
            margin-left: 5%;
            margin-top: 5%
        }

        .numDevisEtDate {
            margin-left: 60%;
            margin-top: -40%
        }

        .infosClients {
            margin-left: 60%;
            padding-left: 1%;
             margin-top: -15%;
             margin-bottom: 10%;
            /* border: 1px solid; */
            width: 40%;
        }

        table {
            border-collapse: collapse;
            width: 95%;
            margin-top: 10%;
            margin-left: 5%;
            border-bottom: 1px solid rgb(176, 176, 176);
        }
         .prix {
            border-collapse: collapse;
            width: 40%;
            margin-top: 10%;
            margin-left: 60%
        }

        th {
            background-color: grey;
            padding: 8px;
        }

        td, th {
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        td {
            border:none; 
        }

        .TTC{
            color: black;
        }
        .no-border{
            border-color: rgb(237, 237, 237); 
            background-color: rgb(237, 237, 237);
            color: black;
        }
       .nom{
        font-size: 100%;
        color: #372772
       }
       .titre{
        font-size:100%;
        color:#372772
       }
       .titreFacture{
        font-size: 250%;
        color: #372772
       }
       p{
        margin-bottom: -2%
       }

    </style>
    </head>
      <body>

        {% block body %}

       <img src="{{ logo_base64 }}" alt="logo">

        <div class="container">
                <div class="row">
                    <div class="col-6 col-spacing">
                        <div class="infosEntreprise">
                            <strong class= "nom">Entreprise Clean This</strong>
                            <p>20 rue du Luxembourg</p>
                            <p>03 50 41 25 30</p>
                            <p>cleanthiscontact@entreprise.fr</p>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="numDevisEtDate">
                        <strong class= "titreFacture"> Facture</strong>
                         <p>Facture numéro: {{ devi.id }}</p>
                        <p> Emis le: {{ operation.dateFin  ? operation.dateFin |date('d-m-Y') : '' }}</li>
                        </div>
                    </div>
                </div>
        </div>

        <div class="infosClients">
                <strong class="titre">Informations client</strong>
                <p> {{ devi.lastname }}</p>
                <p>{{ devi.firstname }}</p>
                <p>{{ devi.mail }}</p>
                <p>{{ devi.tel }}</p>
                <p>{{ devi.AdresseIntervention }}</p>
        </div>

        <table>
            <thead>
                <tr>
                    <th scope="col" class= "no-border" >Designation du service</th>
                     <th scope="col" class= "no-border" >Descriptif</th>
                    <th scope="col" class= "no-border" >Tarif</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ type_operation.libelle}}</td> 
                    <td>{{ type_operation.descriptif }}</td>
                    <td>{{ devi.TarifCustom }}€</td>
                </tr>
            </tbody>
        </table>


        <table class = "prix">
            <tbody>
                <tr >
                    <td scope="col" class= "TTC">Prix TTC</td>
                    <td class= "TTC">{{ devi.TarifCustom * 1.2 }}€</td>
                </tr>

                <tr>
                    <td scope="col">Total H.T</td>
                    <td>{{ devi.TarifCustom }} €</td> 
                </tr>

                <tr>
                    <td scope="col">TVA (20%)</td>
                    <td>{{ devi.TarifCustom * 0.2 }}€</td> 
                </tr>
            </tbody>
        </table>

        {% endblock %}

    </body>
</html>