{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}
{% block stylesheets %} 
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
    {# <link rel="stylesheet" href="public/assets/css/style.css"> #}
{% endblock %}

{% block body %}
 <section class="home">
    <div class="text">
    <h1>{% trans %}Operation index{% endtrans %}</h1>

      <table class="table" data-toggle="table" data-search="true" data-show-columns="true" data-pagination="true">
        <thead class="en-tête">
            <tr>
                        {# <th class="bold-weight">{% trans %}View detail{% endtrans %}</th> #}
                        <th class="bold-weight" data-sortable="true" data-field="Id" class="light-weight">{% trans %}ID{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="facture" class="light-weight">{% trans %}Invoice{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="comment" class="light-weight">{% trans %}Comment{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="note" class="light-weight">{% trans %}Note{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="date_debut" class="light-weight">{% trans %}Start Date of Operation{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="date_fin" class="light-weight">{% trans %}End Date of Operation{% endtrans %}</th>
                        {# <th class="bold-weight" data-sortable="true" data-field="image_resultat" class="light-weight">{% trans %}Operation Result{% endtrans %}</th> #}
                        <th class="bold-weight" data-sortable="true" data-field="reclamation" class="light-weight">{% trans %}Complaint{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="status_paiement" class="light-weight">{% trans %}Payment Status{% endtrans %}</th>
                        <th class="bold-weight" data-sortable="true" data-field="status_operation" class="light-weight">{% trans %}Operation Status{% endtrans %}</th>
                        {# <th data-sortable="true" data-field="status" class="light-weight">Address of Intervention</th> #}
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                        <th class="bold-weight">{% trans %}Assign{% endtrans %}</th>
                        {% endif %}
                        <th class="bold-weight">{% trans %}Assigned to{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                {# <td>
                    <a href="{{ path('app_operation_show', {'id': operation.id}) }}" class="actionsButtons">
                    <img src="{{ asset('images/oeuil.png') }}" alt="{% trans %}View detail{% endtrans %}">
                  </a>
                </td> #}
                <td class="light-weight">{{ operation.id }}</td>
                <td>
                {% if operation.statusOperation %}
                    <a
						href="{{ path('app_operation_factures', {'id': operation.id}) }}" class="actionsButtons">
						{# <i class='bx bx-show'></i> #}
						<img src="{{ asset('images/pdf.png') }}" alt="">
					</a>
                {% else %}

                {% endif %}
					
				</td>
                <td class="light-weight">{{ operation.comment }}</td>
                <td class="light-weight">{{ operation.note }}</td>
                <td class="light-weight">{{ operation.dateDebut ? operation.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td class="light-weight">{{ operation.dateFin ? operation.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                {# <td class="light-weight">{{ operation.imageResultat }}</td> #}
                <td class="light-weight">{{ operation.reclamation }}</td>
                <td class="light-weight">{{ operation.statusPaiement ? 'Paid' : 'Unpaid' }}</td>
                <td class="light-weight">{{ operation.statusOperation ? 'Completed' : 'In Progress' }}</td>
                {# <td>{{ operation.addressIntervention }}</td> #}
                 {% if app.user and is_granted('ROLE_ADMIN') %}
                <td style="display: flex; gap: 5px;">
                <a href="{{ path('app_operation_assign', {'id': operation.id}) }}" class="btn btn-primary"><i class='bx bxs-user-plus'></i></a>
                <form action="{{ path('app_operation_unassign', {'id': operation.id}) }}" method="post" onsubmit="return confirm('Are you sure to unasign?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('unassign' ~ operation.id) }}">
                    <button type="submit" class="btn btn-danger"><i class='bx bx-trash'></i></button>
                </form>
                </td>
                {% endif %}
                <td class="light-weight">
                    {% if operation.user is not null %}
                        {{ operation.user.firstname }} {{ operation.user.lastname }}
                    {% else %}
                        {% trans %}Unassigned{% endtrans %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{% trans %}No records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_operation_new') }}">Create new</a> #}
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table-fr-FR.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.search input').attr('placeholder', 'Rechercher');
            $('.search input').addClass('form-control pr-5');
            $('.search').addClass('position-relative');
            $('.search input').after('<span id="searchIcon" class="input-group-text bi bi-search position-absolute" style="right: 10px; top: 28%; transform: translateY(-50%); cursor: pointer; border: none; padding: 0;"></span>');
            $('.search input').keydown(function(event) {
                if (event.keyCode === 13) { 
                    $('#searchIcon').hide();
                }
            });
        });
    </script>
{% endblock %}
